<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Evidencia">
    <insert id = "insertarImagen" parameterType = "map">
        INSERT INTO transito.dbo.Foto (idReporte, foto)
        VALUES (#{idReporte},#{foto});
    </insert>
    
    <select id  ="obtenerFotosReporte" parameterType = "int" resultType = "beans.Evidencia">
        SELECT idFoto as idEvidencia, idReporte, foto as bytes
        FROM transito.dbo.Foto
        WHERE idReporte = #{idReporte};
    </select>
    
</mapper>