<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Reporte">
    <update id = "registrar" parameterType = "beans.Reporte" statementType="CALLABLE">
        {call transito.dbo.sp_registrarReporte(
            #{descripcion, jdbcType=STRING, mode=IN},
            #{idConductor, jdbcType=INTEGER, mode=IN},
            #{latitud, jdbcType=FLOAT, mode=IN},
            #{longitud, jdbcType=FLOAT, mode=IN},
            #{placasVehiculos, jdbcType=STRING, mode=IN},
            #{resultado, jdbcType=INTEGER, mode=OUT}
        )}
    </update>
    
    <select id = "buscarReportes" parameterType = "int" resultType = "beans.ReporteResumido">
        {call transito.dbo.sp_obtenerReportesConductor(
            #{idconductor, jdbcType=INTEGER, mode=IN}
        )}
    </select>
    
    <select id="buscarPlacasReporte" parameterType = "int" resultType = "map">
        SELECT (
            SELECT numPlacas 
            FROM transito.dbo.Reporte_Vehiculo
            UNION
            SELECT numPlacas
            FROM transito.dbo.Reporte_VehiculoAnonimo
        ) AS NUMPLACAS
    </select>
    
    <resultMap id="ReporteMap" type="beans.Reporte">
        <id property="idReporte" column="idReporte"/>
        <result property = "latitud" column ="latitud"/>
        <result property = "longitud" column ="longitud"/>
        <result property = "hora" column ="hora"/>
        <result property = "estado" column ="estado"/>
        <result property = "idSiniestro" column ="idSiniestro"/>
    </resultMap>
    
    <select id="obtenerDetallesReporte" parameterType = "map" resultType="beans.ReporteDictamen" statementType="CALLABLE">
        {call transito.dbo.sp_obtenerDetalleReporteConductor(
            #{idReporte, jdbcType=INTEGER, mode=IN}
        )}
    </select>  
</mapper>