<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Vehiculo">
    <update id = "registrar" parameterType = "map" statementType="CALLABLE">
        {call transito.dbo.sp_registrarVehiculo(
            #{numPlacas, jdbcType=VARCHAR, mode=IN},
            #{idMarca, jdbcType=INTEGER, mode=IN},
            #{modelo, jdbcType=VARCHAR, mode=IN},
            #{color, jdbcType=VARCHAR, mode=IN},
            #{year, jdbcType=VARCHAR, mode=IN},
            #{numPoliza,jdbcType=VARCHAR, mode=IN},
            #{idAseguradora, jdbcType=INTEGER, mode=IN},
            #{fechaVencimiento, jdbcType=DATE, mode=IN},
            #{idConductor, jdbcType=INTEGER, mode=IN},
            #{fa, jdbcType=INTEGER, mode=OUT}
        )}
    </update>
    
    <insert id = "registrarAnonimo" parameterType = "beans.VehiculoAnonimo">
        INSERT INTO transito.dbo.VehiculoAnonimo (numPlacas, modelo, idMarca, año, color, numPoliza,idAseguradora)
        VALUES (#{numPlacas},#{modelo},#{marca},#{year},#{color},#{numPoliza},#{idAseguradora});
    </insert>
    
    <select id = "buscarVehiculo" parameterType = "string" resultType = "beans.Vehiculo">
        SELECT numPlacas, modelo, idMarca, año AS year, color,numPoliza
        FROM transito.dbo.Vehiculo
        WHERE numPlacas = #{numPLacas};
    </select>
    
    <select id = "getVehiculosConductor" parameterType = "int" resultType = "beans.InfoVehiculo">
        {call transito.dbo.sp_obtenerVehiculosConductor(
            #{idConductor, jdbcType=INTEGER, mode=IN}
        )}
    </select>
    
    <select id = "getVehiculosReporte" parameterType = "int" resultType = "beans.Vehiculo">
        SELECT a.numPlacas, a.modelo, a.idMarca, a.año AS year, a.color, a.numPoliza
        FROM transito.dbo.Vehiculo a 
        INNER JOIN transito.dbo.Reporte_Vehiculo b
        ON a.numPlacas = b.numPlacas
        WHERE b.idReporte = #{idReporte}
    </select>
    
    <update id = "editarVehiculo" parameterType = "beans.Vehiculo">
        UPDATE transito.dbo.Vehiculo SET
        modelo = #{modelo}, año = #{year}, color=#{color}, numPoliza = #{numPoliza}
        WHERE numPlacas = #{numPlacas};
    </update>
    
    <delete id = "eliminarVehiculo" parameterType = "string">
        DELETE FROM transito.dbo.Vehiculo
        WHERE numPlacas = #{numPlacas};
    </delete>
    
</mapper>